<ion-view title="favor">
  <ion-content padding="false">
    <h2>Favors</h2>
    <div ng-controller="favorCtrl">
    <form ng-submit="createFavor()">   
        <div class="padding">
          <label class="item item-input">
            <input ng-model="favor.description" type="text" placeholder="What do you want to see?" required>
          </label>
          <label class="item item-input">
            <input ng-model="favor.topic" type="text" placeholder="Topic?">
          </label>
          <label class="item item-input">
            <input id="pac-input" type="text" ng-model="favor.address" placeholder="Where is it?">
          </label>
        </div>
        <div>
          <button type="submit" class="button button-block button-calm">Submit</button>
        </div>
    </form>
    </div>
    <div ng-controller="requestCreationMapCtrl" style="width:100%; height:100%">
     <div id="map" data-tap-disabled="true" style="width:100%; height:100%"></div>
    </div>
  </ion-content>
</ion-view>