
<ion-view title="home">
  <ion-content>
  <span> <p ng-click="enableTracking()"> CLICK HERE FOR TRACKING</p></span>
  <button class="button" ng-click="updateFavors()">UPDATE FAVORS</button>

    <ion-list ng-repeat="favor in favors | orderBy: filter ">
      <ion-item>
        <h3>{{favor.topic}}</h3>
        <div class="row">
          <div class="col col-80">
            <ion-item ng-click="favorDetails(favor)" class="wrap">{{favor.description}}</ion-item>
          </div>
          <div class="col">
            <div class="picVoting">
              <a ng-click="upVote(favor)" class="button button-icon icon ion-ios-arrow-up"></a><br>
              <span class="votes">{{favor.votes}}</span><br>
              <a ng-click="downVote(favor)" class="button button-icon icon ion-ios-arrow-down"></a>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  
    <ion-footer-bar ng-class="{'tall-footer': toggle}" class="bar-calm"><div class="camera-footer button-bar">
        <button class="button lolol set-height button-outline button-light padding-left lolol" ng-click="hot()">Hot</button>
        <a ng-click="setToggle()" class="button set-height button-icon icon ion-search"></a>
        <button class="button set-height button-outline button-light padding-right lolol" ng-click="new()">New</button>
    </div>
  </ion-footer-bar>  
</ion-view>
