
<ion-view title="home">
  <ion-content>
  <span> <p ng-click="enableTracking()"> CLICK HERE FOR TRACKING</p></span>

    <ion-list ng-repeat="favor in favors | orderBy:'-votes'">
      <ion-item>
        <h3>{{favor.topic}}</h3>
        <div class="row">
          <div class="col col-80">
            <ion-item ng-click="favorDetails(favor)" class="wrap">{{favor.description}}</ion-item>
          </div>
          <div class="col">
            <div class="picVoting">
              <a ng-click="upVote(favor)" class="button button-icon icon ion-ios-arrow-up"></a><br>
              <span class="votes">{{favor.votes}}</span><br>
              <a ng-click="downVote(favor)" class="button button-icon icon ion-ios-arrow-down"></a>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer-bar class="camera-footer bar-calm">
    <div class="button-bar">
        <button class="button button-outline button-light padding-left">Hot</button>
        <a class="button button-icon icon ion-search"></a>
        <button class="button button-outline button-light padding-right">New</button>
    </div>
  </ion-footer-bar>  
</ion-view>
