<ion-view title="login">
  <ion-content>
  <h2 class="title welcome">Welcome!</h2>
  <span> <p  ng-click="useBrowser()"> CLICK HERE FOR BROWSER</p></span>
    <!--<form ng-submit="letsGo()">
	    <div class="list list-inset">
	      <label class="item item-input">
	        <input ng-model="username" type="text" placeholder="Username">
	      </label>
	      <label class="item item-input">
	        <input ng-model="password" type="text" placeholder="Password">
	      </label>
	    </div> 
	    <div>
          <button type="submit" class="button button-block button-calm">Submit</button>
           <span> <p  ng-click="useBrowser()"> CLICK HERE FOR BROWSER</p></span>
      	  <span> <img class="oauth_button" ng-click="fbLogin()" src="http://i.stack.imgur.com/pZzc4.png" /></span><br />

        </div>
      </form>--> 

    <img class="oauth_button" ng-click="fbLogin()" src="http://i.stack.imgur.com/pZzc4.png" />

  </ion-content>
  <ion-footer-bar ng-click="setToggle()" ng-class="{'tall-footer': toggle}" class="bar-calm">
    <h1 class="title">footer</h1>
    <br /><h1 class="secret">secret footer</h1>
  </ion-footer-bar>
</ion-view>
