<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script type="text/javascript" src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/homeCtrl.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/photoFactory.js"></script>
    <script src="js/requestFactory.js"></script>
    <script src="js/requestMapCtrl.js"></script>
    <script src="js/favorCtrl.js"></script>
    <script src="js/loginCtrl.js"></script>
    <script src="js/favorDetailsCtrl.js"></script>
  </head>
  <body ng-app="drakeApp">

    <ion-side-menus>
     <ion-side-menu-content ng-controller="navCtrl">
       <ion-pane>
         <ion-header-bar class="bar-stable bar-calm">
           <div class="button-bar">  
             <a ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></a>
             <a ui-sref="requestmap" class ="button button-icon icon ion-earth"></a>
             <a ui-sref="home" class="button button-icon icon ion-home"></a>
             <a ui-sref="favor" class="button button-icon icon ion-paper-airplane"></a>
           </div>  
         </ion-header-bar>

         <!-- <ion-content> -->
           <ion-nav-view></ion-nav-view>
         <!-- </ion-content> -->
       </ion-pane>
     </ion-side-menu-content>

     <ion-side-menu side="left" ng-controller="navCtrl">
      <ion-header-bar ng-click="toggleLeft()" class="bar-dark">
        <h1 class="title">Options</h1>
      </ion-header-bar>
      <ion-content>
         <ion-list>
           <ion-item>One</ion-item>
           <ion-item>Two</ion-item>
           <ion-item>Three</ion-item>
           <ion-item>Four</ion-item>
         </ion-list>
       </ion-content>
     </ion-side-menu>
      
    </ion-side-menus>
  </body>
</html>
