@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400);
/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.
For example, you might change some of the default colors:
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
body {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: normal !important; }

.font {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: normal !important; }

.favor {
  margin: 5px !important; }

h2, h3, h4 {
  color: silver !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: normal !important; }

.profPic {
  border-radius: 50% !important;
  position: relative !important;
  left: 61px !important; }

.kudos {
  display: inline-block !important;
  position: relative !important;
  left: 183px !important;
  font-size: 20px !important;
  top: -10px !important;
  color: silver !important; }

.byYou {
  margin-top: 5px !important; }

.profPic2 {
  border-radius: 50% !important;
  height: 50px !important;
  width: 50px !important;
  position: relative;
  left: 20px !important; }

.border {
  border-top: none !important !important; }

.description {
  border-color: #66CDAA !important;
  border-width: 2px !important;
  border-radius: 10px !important;
  /*background-color: #E6F4EF !important;*/ }

.upvote {
  height: 10px !important;
  color: gray !important; }

.downvote {
  color: gray !important; }

.distance {
  display: inline-block;
  margin: 0 0 0 0; }

.favorHead {
  color: black !important; }

.tall-footer {
  height: 200px !important;
  -webkit-transition: height 0.8s !important;
  -moz-transition: height 0.8s !important;
  transition: height 0.8s !important; }

.margin {
  margin-bottom: 5px; }

.set-height {
  max-height: 40px; }

.map-search {
  position: absolute;
  top: 60px;
  display: block;
  width: 100%; }

.searchbar {
  position: absolute;
  display: block;
  width: 100%;
  max-height: 40px; }
  .searchbar input {
    width: 100%; }

.go {
  display: block;
  position: absolute;
  top: 110px;
  width: 100%; }

.login {
  background-image: url("http://i.imgur.com/G1vmHQZ.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: 50% 50%; 
}

.go2 {
  width: 80%;
  margin: 0 auto; }

.gobutton {
  width: 100%;
  margin: 0 auto; }

#req-input, #feed-input {
  margin: 0 auto;
  border-radius: 5px;
  width: 80%;
  text-align: center; }

.favorTitle {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 5px; }

.phavr-title {
  position: relative;
  bottom: 20%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.tagline {
  position: relative;
  top: -20px;
  max-width: 100%;
  width: 190px;
  color: white; }

.hiddenmap {
  display: none; }

.secret {
  position: relative;
  margin-top: 100px; }

.item.wrap, .item-content.wrap {
  white-space: normal; }

.votes {
  position: relative;
  color: #66CDAA;
  margin-left: 12px; }

.favorDetail {
  width: 100%;
  border-radius: 10px;
  /*max-width: 100%;*/ }

.picVoting {
  /*top: 50%;*/
  /*left: 50%;*/
  position: relative; }

.feedView {
  padding: 0 !important; }

.noPadding {
  padding: 0 !important; }

.bottom-detail {
  border: none; }

.camera-footer {
  position: relative; }

.cambutton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#map {
  width: 100%;
  height: 100%; }

.scroll {
  height: 100%; }

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

.angular-google-map-container {
  width: 100%;
  height: 100%; }

.angular-google-map {
  width: 100%;
  height: 100%; }

.welcome {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.oauth_button {
  width: 40%;
  z-index: 3;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.lolol {
  border: none !important;
  color: white !important; }

.highlighted {
  background-color: #86e0c2 !important; }

.profileHead {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.profilePic {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100px; }

/*
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
#pac-input:focus {
  border-color: #4d90fe;
}*/
