h2, h3 {
	color: silver;
}
.item.wrap, .item-content.wrap {
  white-space: normal;
}

.votes {
  position: relative;
  color: teal;
  margin-left: 12px;
}

.favorDetail {
	height:300px;
}

.picVoting {
	top: 50%;
	left: 50%;
}

.bottom-detail {
	border: none;

}

// Google Maps

#map {
  width: 100% !important; 
  height: 100%  !important;
}

.scroll {
  height: 100%;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
