h2, h3 {
	color: silver;
}
.item.wrap, .item-content.wrap {
  white-space: normal;
}

.votes {
  position: relative;
  color: teal;
  margin-left: 12px;
}

.favorDetail {
	height:300px;
}

.picVoting {
	top: 50%;
	left: 50%;
}

.bottom-detail {
	border: none;

}
