<ion-view title="login" class="login">
  <ion-content>
    <br />
    <p ng-click="useBrowser()"> CLICK HERE FOR BROWSER</p>
  
    <div class="row phavr-title">
      <div class="col col-60 col-offset-20">
        <img class="logo" src="img/phavrlogo_mint.png">
        <br />
        <p class="font tagline">get the photos you want to see.</p>
        <br />
      </div>
      <div class="col col-20"></div>
    </div>

    <img class="oauth_button" ng-click="fbLogin()" src="img/fbmint.png" />
  </ion-content>
</ion-view>
