<ion-view title="login" class="login">
  <ion-content>
  <img class="logo" src="https://files.slack.com/files-pri/T03ETTPSS-F060X9ZPU/phavrlogo_mint.png">;
  <br /><p ng-click="useBrowser()"> CLICK HERE FOR BROWSER</p>

  <p class="tagline font">get the photos you want to see.</p>
 
    <img class="oauth_button" ng-click="fbLogin()" src="https://files.slack.com/files-pri/T03ETTPSS-F060XD1PX/fbmint.png" />

  </ion-content>
  <ion-footer-bar class="bar-calm">
  </ion-footer-bar>
</ion-view>