/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.
For example, you might change some of the default colors:
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$calm: #66CDAA !default;

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400);
$roboto-condensed: 'Roboto Condensed', sans-serif;

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centre($axis: "both"){
    position:absolute;
    @if $axis == "y"{
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @if $axis == "x"{
        left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @if $axis == "both"{
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }   
}


body {
  font-family: $roboto-condensed;
  font-weight: normal;
}

.font {
  font-family: $roboto-condensed;
  font-weight: normal;
}

.favor {
  margin: 5px;
}

h2, h3, h4 {
  color: silver;
  font-family: $roboto-condensed;
  font-weight: normal;

}

.profPic {
  border-radius: 50%;
  position: relative;
  left: 61px;
}

.kudos {
  display: inline-block;
  position: relative;
  left: 159px;
  font-size: 20px;
  top: 32px;
  color: silver;
}

.byYou {
  display: none;
  margin-top: 5px;
}

.profPic2 {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  left: 35px;
  top: 52px;
}

.border {
  border-top: none;
}

.description {
  border-color: $calm;
  border-width: 2px;
  border-radius: 10px;
}

.upvote {
  height: 10px;
  color: gray;

}

.downvote {
  color: gray;
}

.distance {
  display: inline-block;
  margin: 0 0 0 0;
}

.favorHead {
  color: black;
}

.tall-footer {
  height: 200px;

  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s;
  
}

.set-height {
  max-height: 40px;
}

.map-search {
  position: absolute;
  top: 60px;
  display: block;
  width: 100%;
}

.searchbar {
  position: absolute;
  width: 100%;
  max-height: 40px;
  input {
    width: 100%;
  }
}

.go {
  display: block;
  position: absolute;
  top: 110px;
  width: 100%;
}

.login {
  background-image: url("http://i.imgur.com/G1vmHQZ.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: 50% 50%; 
}

.go2 {
  width: 80%;
  margin: 0 auto;
}

.gobutton {
  width: 100%;
  margin: 0 auto;
}

#req-input, #feed-input {
  margin: 0 auto;
  border-radius: 5px;
  width: 80%;
  text-align: center;}

.favorTitle {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 5px;

}

.phavr-title {
  position: absolute;
  bottom: 20%;
  /*@include centre(x);*/
}

.logo {
  position: relative;
  width: 100%;
}

.tagline {
  position: relative;
  top: -20px;
  max-width: 100%;
  /*width: 190px;*/
  color: white;
  text-align: center;
}

.hiddenmap {
  display: none;
}

.secret {
  position: relative;
  margin-top: 100px;
}

.item.wrap, .item-content.wrap {
  white-space: normal;
}

.votes {
  position: relative;
  color: $calm;
  margin-left: 12px;
}

.favorDetail {
  width: 100%;
  border-radius: 10px;
  /*max-width: 100%;*/
}

.picVoting {
  /*top: 50%;*/
  /*left: 50%;*/
  position: relative;
}

.noPadding {
  padding: 0;
}

.bottom-detail {
	border: none;

}

.cambutton {
  @include centerer;
}

// Google Maps

#map {
  width: 100%; 
  height: 100%;
}

.scroll {
  height: 100%;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.angular-google-map-container {
  width: 100%; 
  height: 100%;
}

.angular-google-map {
  width: 100%; 
  height: 100%;
}

.welcome {
  @include centre(x);
}

.oauth_button {
  width: 20%;
  z-index: 3;
  position: absolute;
  bottom: 10%;
  left: 40%;
}

.borderless {
  border: none;
  color: white !important;
}

.highlighted {
  background-color: #86e0c2 !important;
}

.profileHead {
  width: 205px;
  @include centre(x);
}

.profilePic {
  @include centre(x);
  height: 100px;
}


/*
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
#pac-input:focus {
  border-color: #4d90fe;
}*/


// Include all of Ionic

